name: Build Podman for UDM
on: [push]
jobs:
  Build-Podman:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Checkout podman repo
        uses: actions/checkout@v2
        with:
          repository: containers/podman
          path: podman
      - uses: actions/setup-go@v2
      - run: go version
      - run: |
          sudo apt-get install -y libc6-arm64-cross libc6-dev-arm64-cross binutils-aarch64-linux-gnu libncurses5-dev build-essential bison flex libssl-dev bc gcc-aarch64-linux-gnu
      - run: curl -sL http://ports.ubuntu.com/pool/main/libs/libseccomp/libseccomp-dev_2.5.1-1ubuntu1~20.04.1_arm64.deb -o libseccomp-dev_arm64.deb
      - run: sudo dpkg --force-all -i libseccomp-dev_arm64.deb
      - run: patch -p1 podman/Makefile build/Makefile.patch
      - run: make -C podman CC='aarch64-linux-gnu-gcc' GOOS=linux GOARCH=arm PKG_CONFIG_PATH=/usr/lib/aarch64-linux-gnu/pkgconfig/ local-cross
      - name: Archive build artifacts
        uses: actions/upload-artifact@v2
        with:
          name: podman-artifact
          path: podman/bin/podman.cross.linux.arm64

